body{
    background-color: black;
}

/*.col-6{
    height: 300px;
    overflow: hidden;
}*/

.lists {
    color: black;
    background-color: white ;
}

.header{
    height: 15%;
    background-image: linear-gradient(140deg,#F27B57 40%, #a96f47 60%);
}

.header-image{
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-header{
    size:10%;
    margin-top: 5%;
    margin-left: 3%;
}

.filters{
    margin-top: 30px;
    color:white;
}


.images{
    object-fit: cover;
    object-position: 70%;
    min-width: 100%;
    min-height: 100%;
    height: 300px;
    border-radius: 10%;
}

#veg, #non-veg, #combined{
    color:gray;
}


.active#veg {
    color: #1eff2c;
}

.active#non-veg {
    color: red;
}

.active#combined {
    color: yellow;
}

.filter-button {
    background-color: darkgray;
}

.active.filter-button{
    background-color: #F27B57;
}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 50%;
    text-align: center;
    font-size: 150%;
}

.item-price{
    margin-right:15px;
}
.item-price::before{
    content: " \20B9";
}

.btn.ads{
    color:black;
    display: inline-flex;
    align-items: center;
}

.btn.ads::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.figure-caption{
    color:white;
    font-size: 30px;
}

.i-d{
    font-style: italic;
    color: darkgray;
}

.lists .row{
    border-bottom: 1px solid gray;
    min-height : 50px;
}