body{
    background-color: black;
}

/* latin */
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/tangerine/v17/IurY6Y5j_oScZZow4VOxCZZM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*.col-6{
    height: 300px;
    overflow: hidden;
}*/

.lists {
    color: white;
    background-color: #579667 ;
    margin-bottom: 10px;
}
.menu-header{
    background-color: white;
    color: #d2ab66
}

.header{
    height: 15%;
}

.header-image{
    min-height: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-header{
    size:10%;
    margin-top: 5%;
    margin-left: 3%;
}

.filters{
    margin-left: 15%;
    margin-top: 30px;
    color:white;
}


.images{
    object-fit: cover;
    object-position: 70%;
    min-width: 100%;
    min-height: 100%;
    height: 300px;
    border-radius: 10%;
}

#veg, #non-veg, #combined{
    color:gray;
}


.active#veg {
    color: #1eff2c;
}

.active#non-veg {
    color: red;
}

.active#combined {
    color: yellow;
}

.filter-button {
    background-color: darkgray;
}

.active.filter-button{
    background-color: #F27B57;
}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 50%;
    text-align: center;
    font-size: 150%;
}

.item-price{
    margin-right:15px;
}
.item-price::before{
    content: " \20B9";
}

.btn.ads{
    color:black;
    display: inline-flex;
    align-items: center;
}

.btn.ads::after{
    content: "";
    display: block;
    padding-bottom: 100%;
}

.figure-caption{
    color:white;
    font-size: 30px;
}

.i-d{
    font-style: italic;
    color: darkgray;
}

.lists .row{
    box-shadow: 0px 24px 3px -24px darkgray;
    min-height : 50px;
}

.footer{
    background-color: white;
    color: black;
    z-index: 5;
}


.footer .container{
    margin-right: 3%;
    margin-left: 7%;
    min-height: 90px;
}

.footer .container .row div{
    min-height: 100%;
}

.container.lists{

}